h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
#nav-container{
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-collapse.collapse.in{
    background-color: #d7dde8;
    border: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar-nav{
    margin: 0px;
}
.navbar{
    margin-bottom: 0px;
}
hr{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 15px;
}
.listing{
    height: auto;
    background-color: #d7dde8;
    padding: 25px;
    margin-bottom: 25px;
}
.navbar-brand
{
  font-weight: bold;
  font-size: 30px;
}