<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>

  </head>
  <body ng-app="LunchCheck">
    <div class="container" ng-controller="LunchCheckController">
      <h1>Lunch Checker</h1>
        <div class="form-group">
            <input ng-style="getBorderColor()" id="lunch-menu" type="text"
            ng-model="food"
            class="form-control">
        </div>
        <div class="form-group">
            <button class="btn btn-default" 
            ng-click="checkFood()">Check Items</button>
        </div>
        <div class="form-group message">
            <span ng-style="getTextColor()" ng-bind="message"></span>
        </div>
    </div>
  </body>
</html>
