<div ng-app="public" class="menu-item-tile col-md-6">
  <div ng-controller="InfoController as info" class="row">
    <div class="col-md-1">
    </div>
    <div class="col-sm-8">
        <br/><br/>
        <span ng-if="info.user !== undefined">
		    
            <ul>
                <li>
                  Name: {{info.user.firstname}}  {{info.user.lastname}}
                </li>
                <li>
                    Email: {{info.user.email}}
                </li>
                <li>
                    Phone: {{info.user.phone}}
                </li>
            </ul><br/>
            Favorite Dish: <br/><br/>
            <img ng-src="https://wpfeiffer-course5.herokuapp.com/images/{{info.user.favdish}}.jpg" alt={{info.user.favdishInfo.name}} /><br/><br/>
            Title: {{info.user.favdishInfo.name}} <br/> 
            Description: {{info.user.favdishInfo.description}} <br/> 
        </span>
        <span ng-if="info.user === undefined">
            Not Signed Up Yet. <br/>
            <a ui-sref="public.signup">Sign up Now!.</a>
        </span>
    </div>
  </div>
  <hr class="visible-xs">
</div>
